<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <div class="container">
        <a href="/over" class="nav-link">Read Users</a>
        <h1>update User</h1>
        <form class="create-user-form" action="/update/<%= user._id %>" method="POST">
            <input type="text" name="name" placeholder="name" value="<%= user.name %>" required>
            <input type="email" name="email" placeholder="email" value="<%= user.email %>" required>
            <input type="text" name="imageurl" placeholder="image url" value="<%= user.imageurl %>">
            <button type="submit">Update User</button>
        </form>
        
    </div>
</body>
</html>
